.postsContainer {
  border: 2px solid rgb(209, 212, 221);
  display: grid;
  height: 100%;
  max-width: 975px;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2), 0px 16px 24px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
